page-document-modal {

	.image-col {
		display: inline-block;
		width: auto;
	}

	.image-container {
		img {
			height: 64px;
			width: 64px;
		}

		float: left;
		background-size: cover;
		position: relative;

		.image-label {
			width:100%;
			position: absolute;
			bottom: 0;
			text-align: center;
			color: white;
			font-weight: bold;
			background-color: gray;
			opacity: 0.4;
		filter: alpha(opacity=40); 
		}	
	}

	.document-button {
		width: 100%;
		position: absolute;
		bottom: 100px;
	}

	.custom-checkbox {
		@extend.checkbox-ios;
		top: -20%;
		left: -20%;
		z-index: 2;
	}
}
